#define IDM_MAIN 3000
#define IDM_FILE 3100
#define IDM_NEW 3101
#define IDM_OPEN 3102
#define IDM_SAVE 3103
#define IDM_CLOSE 3104
#define IDM_EXIT 3105
#define IDM_GAME 3200
#define IDM_GO 3201
#define IDM_MUSIC 3300
#define IDM_TOGGLE 3301
#define IDM_ABOUT 3400
#define IDM_ABOUTME 3401
IDM_MAIN MENUEX
BEGIN
  POPUP "File",IDM_FILE
  BEGIN
    MENUITEM "New",IDM_NEW
    MENUITEM "Open",IDM_OPEN
    MENUITEM "Save",IDM_SAVE
    MENUITEM "Close",IDM_CLOSE
    MENUITEM "Exit",IDM_EXIT
  END
  POPUP "Game",IDM_GAME
  BEGIN
    MENUITEM "Go",IDM_GO
  END
  POPUP "Music",IDM_MUSIC
  BEGIN
    MENUITEM "Toggle Music",IDM_TOGGLE
  END
  POPUP "About",IDM_ABOUT,0x00004200
  BEGIN
    MENUITEM "About Russia",IDM_ABOUTME
  END
END
